header {
    padding: 10px 0;
    border-top: 4px solid #1a252f;
}
.transparent-header {
    background-color: transparent;
}
.solid-header {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}
.main-logo {
    max-width: 200px;
    height: auto;
}
.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 150px;
    font-size: 14px;
    border-bottom: 1px solid #4d3319;
}
.search-input.dark-search {
    color: #4d3319;
}
.navbar-nav .nav-link {
    color: #4d3319 !important;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px !important;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover {
    color: #57a15a !important;
}